<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Appium SIT">
    <test name="CI Tests">
        <classes>
            <class name="tests.AppLaunchTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.FindRecyclingBinTest"/>
        </classes>
    </test>
</suite>
